pre{
    border: none;
    background-color: #f0f0f0;
}
img {
    max-width: 100%;
    border: none;
}
.avatar {
    border-radius: 50%;
}
.avatar-img-thumbnail {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 100px;
    width: 100px;
}
.avatar-img-thumbnail-small {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 50px;
    width: 50px;
}
.comment-list{
    margin-top: 20px;
}

.comment-list li{
    border-bottom: 1px dotted #dbdbdb;
    padding-bottom: 5px;
    padding-top: 5px;
}
.comment-list li i{
    color: #dbdbdb;
}

.search-results .highlight {
    color: #e03e44;
}
.user-profile a{
    display: inline-block;
    margin: 2px;
}
.btn.btn-fab span.text, .input-group-btn .btn.btn-fab span.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    -ms-transform: translate(-12px, -12px);
    -o-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
}
.copy-right{
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px 10px;
}
#favorite ul li{
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 5px 10px;
}
.popover {
    position: absolute;
    color: #5e5e5e;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.428571429;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 14px;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
.popover.top {
    margin-top: -10px; }
.popover.right {
    margin-left: 10px; }
.popover.bottom {
    margin-top: 10px; }
.popover.left {
    margin-left: -10px; }

.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0; }

.popover-content {
    padding: 9px 14px; }

.popover > .arrow, .popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }

.popover > .arrow {
    border-width: 11px; }

.popover > .arrow:after {
    border-width: 10px;
    content: ""; }

.popover.top > .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px; }
.popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff; }

.popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #ffffff;
    border-right-color: rgba(0, 0, 0, 0.25); }
.popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff; }

.popover.bottom > .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #ffffff;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    top: -11px; }
.popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #ffffff; }

.popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #ffffff;
    border-left-color: rgba(0, 0, 0, 0.25); }
.popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px; }