.control-label sup{
    color: red;
}
.form-horizontal .control-label{
    text-align: left;
}
.form-group  p{
    padding-top: 2px;
}
img{
    max-width: 100%;
}
/** fix simplemde fullscreen error **/
.CodeMirror-fullscreen,.editor-toolbar.fullscreen,.editor-preview-side {
    z-index: 10000;
}

.img_preview{
    width: 250px;
    height: 250px;
    border: 1px solid #d9d6d6;
    border-radius: 2px;
    padding: 6px;
    margin: 11px 0px;
}
.user-image,.img-circle{
    background-color: #ffffff;
}

